.search {
    background-color: #FFE3FE;
    min-height: 100vh;
    position: relative;
    z-index: 10;
    overflow: hidden;
    padding-bottom: 5rem;
}

.search::before {
    content: "";
    position: absolute;
    top: 35rem;
    left: 50%;
    width: 42rem;
    height: 42rem;
    background-color: #B4AEE8;
    z-index: -1;
    transform: translate(-50%, -50%);
    clip-path: circle(50% at 50% 50%);
}

.result {
    display: flex;
    flex-wrap: wrap;
}

.searchResult {
    margin-top: 3.5rem;
}

.myBtn {
    background-color: #93329E;
}